@media (max-width: 600px) {
	#quoteDisp {
	  font-size: 1.2rem;
	}
	.vuilbak {
		display: none;
	  }
  }   


  
  /* Show only one image on mobile devices */
  @media (max-width: 767px) {
	.header-image {
	  display: block;
	}
  }
  


  .header-image {
    width: 80%;
    max-width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Sets the width of the element to 50% */
	width: 50%;
  }

/* Sets the height and background color of the HTML element */
html {
	padding-top: 5%;
	height: 100%;
	background: #19092d;
	color: #F5F8FA;
}

/* Styles for all button elements */
button {
	/* Sets padding around the button */
	padding: 1rem;
	/* Removes button border */
	border: none;
	/* Changes cursor to pointer on hover */
	cursor: pointer;
}

/* Styles for elements with the class "center" */
.center {
	/* Centers the element horizontally */
	display: block;
	margin: 0 auto;
	/* Sets the width of the element to 90% */
	width: 90%;
	max-width: 600px;
}

/* Styles for elements with the class "first" */
.first {
	/* Sets the background color and box shadow */
	background: #AAB8C2;
	box-shadow: inset 0px 0px 0px 0px #1DA1F2;
	/* Adds a transition effect */
	transition: all 0.5s ease-in-out;
	/* Sets padding around the button */
	padding: 1rem;
}

/* Styles for elements with the class "sec" */
.sec {
	/* Sets the background color */
	background: none;
	/* Positions the pseudo-elements relative to the element */
	position: relative;
	/* Hides any content that overflows the element */
	overflow: hidden;
	/* Sets padding around the button */
	padding: 1rem;
}

/* Styles for the ::before and ::after pseudo-elements of elements with the class "sec" */
.sec:before, .sec:after {
	/* Sets the background color */
	content: "";
	background: #AAB8C2;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -2;
}

/* Styles for the ::after pseudo-element of elements with the class "sec" on hover */
.sec:after {
	background: #1DA1F2;
	top: 100%;
	transition: all 0.5s ease-in-out;
}

.sec:hover:after {
	top: 0;
}

.container {
    width: 90%;
    max-width: 80%;
    margin: 0 auto;
  }
  .container-responsive {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }